#==============================================
# Database Configuration
#==============================================
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_HOST=
DATABASE_PORT=
DATABASE_URL=

#==============================================
# JWT Configuration
#==============================================
JWT_SECRET=

#==============================================
# Supabase Configuration
#==============================================
SUPABASE_URL=
SUPABASE_SERVICE_KEY=
